@use '../utils/variables'  as *;

.header {
    &__logo {
        &-image {
            max-width: 100%;
        }
    }
    &__nav {
        .nav-link {
            color: $dark-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
    &__button {
        .header__button-reservar {
            background-color: $primary-color;
            border: none;
            &:hover {
                background-color: $hover-color;
            }
        }
    }
    #banner {
        .contenedor{   
            position: absolute;
            width: 100%;//ancho
            height: 100%;//largo
        }  
        img{   
            background-position: center;
            background-size: cover;
        }
        
        h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        font-size: 6rem;
        text-align: center;
        padding: 10px;    
        width: 50%;
        font-weight: bold;
        text-shadow: $bn-title-shadow;  
        color:$bn-primary-color; 
        }
        p{
            width: 50%;
            padding: 15px 0;
        }

        .btn {
            display: inline-block;
            font-size: 15px;
            padding: 12px 23px;
            cursor: pointer;
            font-weight: bold;
            letter-spacing: 1px;
            border-radius: 4px;
            &-dark{
                background:primary-color;
                border: 1px ;
                color: #fff;
            }
        }
    }
    
}
.vision-mission {
    padding: 40px 0;

    &__col {
        border: 1px solid $vm-border-color;
        padding: 20px;
        text-align: center;
    }

    &__title {
        font-size: 2rem;
        color: $vm-primary-color;
        text-shadow: $vm-title-shadow;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 1rem;
        color: $vm-border-color;
    }
}

.wrapper{
    width: 370px;
    margin: 130px auto 0
}