@use '../utils/variables'  as *;


.header {
    &__logo {
        &-image {
            max-width: 100%;
        }
    }

    &__nav {
        .nav-link {
            color: $dark-color;
            &:hover {
                color: $primary-color;
            }
        }
    }

    &__button {
        .header__button-reservar {
            background-color: $primary-color;
            border: none;
            &:hover {
                background-color: $hover-color;
            }
        }
    }
}

.banner {
    background: $bn-banner-bg no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;

    &__content {
        max-width: 80%;
    }

    &__title {
        font-size: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: $bn-title-shadow;
    }
}

.vision-mission {
    padding: 40px 0;

    &__col {
        border: 1px solid $vm-border-color;
        padding: 20px;
        text-align: center;
    }

    &__title {
        font-size: 2rem;
        color: $vm-primary-color;
        text-shadow: $vm-title-shadow;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 1rem;
        color: $vm-border-color;
    }
}

.wrapper{
    width: 370px;
    margin: 130px auto 0
}